@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  /* Налаштування основного тексту (Geologica) */
  body {
    color: rgb(var(--foreground-rgb));
    background: white;
    font-family: var(--font-geologica), sans-serif;
  }

  /* Налаштування заголовків (Vollkorn) - для красивого контрасту */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-vollkorn), serif;
    letter-spacing: -0.02em; /* Робить заголовки трохи зібранішими та сучаснішими */
  }
}